.colMain {
  .colMainDetail {
    padding: 10px;
    width: 100%;
    .detail {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: inherit;
      width: 100%;
    }
    .money {
      color: red;
    }
  }
}
