.freeForm{
    width: 90%;
    margin: auto;
    .freeF{
        display: flex;
        flex-wrap: wrap;
        .one{
            width: 100%;
        }
        .two{
            width: 60%;
        }
        .three{
            width: 40%;
        }
        .four{
            width: 60%;
        }
        .five{
            width: 40%;
        }
        .submitOneForm{
            background:linear-gradient(-136deg,#fac928 0,#ff9800 100%)
        }
    }
}