.ownOrderComponent {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  width: 80%;
  .ownOrderType {
    width: 160px;
    div {
      margin-left: 10px;
    }
  }
  .orderTime {
    width: 400px;
    margin-left: 10px;
    div {
      margin-left: 10px;
    }
  }
  .orderTable {
    width: 100%;
    margin: auto;
  }
}
