.orderMain {
  .orderType {
    width: 100%;
    height: 40px;
    padding-left: 10%;
    display: flex;
    .typeBtn {
      width: 10%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
    }
    .typeBtn:hover {
      color: #1a8599;
    }
  }
  .ownOrder {
    width: 100%;
  }
}
