.login{
    width: 100%;
    .loginTitle{
        padding-right: 10%;
        text-align: right;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        .goHome{
            color: #ff7c00;
        }
    }
}