.trainDetail {
  width: 80%;
  margin: auto;
}
.tableButton{
  .tableBuy{
    background-color: #3cb0d0;
    color: #ffffff;
  }
  .tableQian{
    background-color: #ff9705;
    color: #ffffff;
  }
}
